nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    list-style-type: none;
}
nav ul a{
    text-decoration: none;
    color: rgb(3, 86, 86);
    
}

.div1 img{
    width: 200px;
    height:200px;
    border-radius: 100%;
}
.div1{
    background-color: aquamarine;
    margin: auto;
    max-width:auto;
    text-align: center;
    padding: 40px;
}
.div2{
    display: flex;
    padding: 20px;

}
.div2 section img{
    width: 400px;
}
.sec{
    padding: 20px;
}