*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    width: 1200px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    /* CSS Grid layout with 4 columns and 2 rows */
    display: grid;
    margin-bottom: 100px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding: 20px;
}
.child1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: purple;
    border-radius: 20px;
}
.child2{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: rgb(39, 173, 50);
    border-radius: 20px;
}
.child3{
    grid-column: 4/5;
    grid-row: 1/3;
    background-color: rgb(173, 37, 37);
    border-radius: 20px;
}
.child4{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: rgb(10, 42, 181);
    border-radius: 20px;
}
.child5{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: rgb(168, 202, 32);
    border-radius: 20px;
}

.c1d1{
    display: flex;
    padding: 20px;
    color: aliceblue;
}
.c1d1 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.c1d2{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: aliceblue;
}

.c2d1{
    display: flex;
    padding: 20px;
    color: aliceblue;
}
.c2d1 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.c2d2{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: aliceblue;
}

.c3d1{
    display: flex;
    padding: 20px;
    color: aliceblue;
}
.c3d1 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.c3d2{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: aliceblue;
}

.c4d1{
    display: flex;
    padding: 20px;
    color: aliceblue;
}
.c4d1 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.c4d2{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: aliceblue;
}

.c5d1{
    display: flex;
    padding: 20px;
    color: aliceblue;
}
.c5d1 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.c5d2{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: aliceblue;
}