*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    border:1px solid gray;
    /* make parent grid container */
    display: grid;
    margin-bottom: 100px;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    
}
.child1{
    grid-column: 1/3;
    grid-row:1/1 ;
    display: flex;
    padding: 20px;
}
.child1 img{
    width: 130px;
    height: 150px;
}
.child2{
    grid-column:3/5 ;
    grid-row: 1/1;
    padding: 10px;
    text-align: center;
    padding-top: 20px;
    background-color: aliceblue;
    
}
.child3{
    grid-column:1/2 ;
    grid-row: 2/3;
    text-align: center;
    background-color: rgb(212, 66, 13);
    padding: 20px;
}
.child3 img{
    width: 100px;
    height: 50px;
}
.child3 a{
    text-decoration: none;
    color: orange;
}
.child4{
    grid-column:2/4 ;
    grid-row: 2/2;
    display: flex;
    text-align: center;

}
.child4 img{
    width: 100px;
    height: 100px;

}
.c4s1{
    padding-left: 30px;
}
.c4s2{
    text-align: center;
    padding: 30px;
}
.c4s2 a{
    text-decoration: none;
}
.child5{
    grid-column: 4/5;
    grid-row: 2/4;
    text-align: center;
    padding: 20px;
    background-color: blueviolet;
}
.child5 a{
    text-decoration: none;
    background-color: yellow;
    border-radius: 50%;
    padding: 10px;
}
.child5 img{
    width: 100px;
    height: 100px;
    border-radius: 100%;

}
.child6{
    grid-column:1/2 ;
    grid-row: 3/4;
    text-align: center;
}
.child6 img{
    width: 100px;

}
.child6 a{
    text-decoration: none;

}
.child7{
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: green;
    
}
.child7 div img {
    width: 150px;
    text-align: center;
    height: 100px;
}
.c7s1{
    background-color: orange;
    padding: 5px;
    border-radius: 20px;
    height: fit-content;
    
}
.div7{
    display: flex;
}
.sec10{
    text-align: center;
    padding: 20px;
    color: aliceblue;
    
}
.c6d2{
    text-align: center;
}

@media screen and (max-width:600px) {
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    
}