*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    color: rgb(0, 0, 0);
    padding: 10px;
    margin:auto;
}
main{
    display: flex;
    background-color: greenyellow;
    align-items: center;
    
}
.p1{
    width: 700px;
}
.img{
    margin: auto;
    padding:30px;
}
.div1{
    padding-left: 40px;
}
.flex{
    display: flex;
    background-color: brown;
    height: 200px;
    
}
.sec{
    text-align: center;
    padding: 20px;
}